 $small: 567px;
$medium: 785px;
.register {
  width: 80vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://i.pinimg.com/originals/e1/54/08/e1540876956576d6391c8b96be0a25bc.jpg");
  background-size: cover;
  position: relative;
  @media screen and (max-width: $medium) {
    width: 100%;
  }

  @media screen and (max-width: $small) {
    width: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    @media screen and (max-width: $medium) {
      flex-direction: row;
      z-index: 999;
    }

    @media screen and (max-width: $small) {
      flex-direction: row;
      z-index: 999;
    }

    form {
      width: 400px;
      height: 500px;
      padding: 30px;
      border-radius: 25px;
      background-color: #1f1d1d;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      input {
        height: 40px;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        padding-left: 10px;

        &::placeholder {
          color: white;
        }
      }

      button {
        height: 40px;
        border-radius: 5px;
        background-color: blue;
        color: white;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }

      span {
        color: lightgray;
        b {
          color: white;
        }
      }
    }
  }
}